@import '../../../styles/base.scss';
@import '../../../styles/color.scss';

.wrapper {

  .contentArea {
    @include contentArea;

  }

  .contentHeader {
    @include contentHeader;
  }

  .ruleTable {
    width: 600px;
    margin: 0 auto;

    .row {

    }
    .group {
      display: inline-block;
      margin-right: 20px;
    }
    span {
      margin-right: 5px;
    }
  }


}
