@import './color.scss';

@mixin convertBtn {
  background-color: white;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  height: 35px;
  padding: 0 7px;
  color: gray;
  cursor: pointer;
  outline: none;

  &:hover {
    box-shadow: inset 0px 0px 1px 1px rgba(183,183,183,1);
  }
}

@mixin contentArea {
  margin: 0 auto;
  width: 800px;
}

@mixin contentHeader {
  font-weight: bold;
  color: $darkerGray;
  font-size: 18px;
  margin: 10px 0;
}

@mixin inputContainer {
  input {
    background-color: $lightGray;
    height: 35px;
    margin-right: 10px;
  }
}

@mixin subtitle {
  font-weight: bold;
}

@mixin highlight {
  display: inline-block;
  background-color: #f5f3f2;
  padding: 0 3px;
  border: 1px solid #d0cdcd;
  border-radius: 3px;
  color: #e65959;
}

@mixin blankLine {
  height: 18px;
}
