/* document to be made.. */

:global {

  * {
    box-sizing: border-box;
  }
  body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  b {
    font-weight: bold;
  }
  .hide {
    display: none;
  }
  .highlight {
    display: inline-block;
    background-color: #fffeea;
    padding: 0 3px;
    border: 1px solid #d0cdcd;
    border-radius: 3px;
    color: #e65959;
  }
  .blankLine {
    height: 18px;
  }


}
