/* document to be made.. */



* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}



a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}
