.wrapper {


  .headerBackground{
    width:100%;
    height: 400px;
    background: radial-gradient(#F2B9A1, #EA6264) fixed;
      text-align: center;
      line-height: 400px;
      color: #1e6bb8;
      margin: 120px 0;
      text-align: center;
  }
  .titleFont{
    vertical-align: middle;
  }

  .leftBar {

  }

  .mainPanel {
    width: calc(100% - 220px);
  }

}
