.wrapper {




  .headerBackground{

    width:100%;
    height: 400px;
    background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
    text-align: center;
    font-size: 50px;
    line-height: 400px;
    color: #1e6bb8;
    margin-bottom: 0px;
    margin-top: 0px;

  }
  .titleFont{
    vertical-align: middle;
  }

  .leftBar {

  }

  .mainPanel {
    width: calc(100% - 220px);
  }

}
