@import '../../styles/base.scss';
@import '../../styles/color.scss';

.wrapper {

  color: $darkGray;
  line-height: 1.5;

  .contentArea {
    padding: 50px 0;
    width: 800px;
    margin: 0 auto;

    > div {
      margin-bottom: 30px;
    }
  }

  .subtitle {
    @include subtitle;
  }

  .convertBtn {
    background-color: yellow;
  }


}
