@import '../../styles/base.scss';
@import '../../styles/color.scss';

.wrapper {

  background-color: $darkPink;
  color: $lightGray;
  padding: 60px 0;

  .contentArea {
    width: 600px;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 18px;
  }

  .title {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
  }

  .blankLine {
    @include blankLine;
  }


}
