@import '../../styles/base.scss';
@import '../../styles/color.scss';

.wrapper {
  background-color: #ebecec;
  color: $red;
  padding: 20px 0 30px;

  .contentArea {
    width: 800px;
    margin: 0 auto;
    line-height: 1.4;
    font-size: 18px;
  }

  .title {
    font-size: 46px;
    font-weight: bold;

    > div {
      text-align: center;
      line-height: 1;
    }

    p {
      font-family: monospace;
      display: inline-block;
      text-align: center;
      width: 40px;
    }

    .eng {
      position: relative;
      z-index: 10;
    }

    .kor {
      font-size: 40px;
      margin-top: -25px;
      color: #e07b33;
    }

  }

  .blankLine {
    @include blankLine;
  }

  .logo {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    background-image: url('../../../assets/gimci-logo.png');
    background-repeat: no-repeat;
    background-size: 70px;
  }
}
