@import '../../../styles/base.scss';
@import '../../../styles/color.scss';

.wrapper {
  padding: 0 40px;
  text-align: center;

  .input {
    width: 400px;
    height: 44px;
    padding: 5px 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    margin-bottom: 20px;

    &:hover {
      box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    }
  }

  .btn {
    font-size: 13px;
    font-weight: bold;
    color: $darkGray;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn.searchBtn {
    color: $red;
    margin-bottom: 15px;
  }

}
