@import '../../styles/color.scss';

.wrapper {

  background-color: $gray;
  height: 60px;

  .contentArea {
    height: 100%;
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .logo {
    font-size: 28px;
    color: $lightRed;
    width: 160px;
  }

  .desc {
    color: $darkPink;
  }

  .linkBtn {
    margin-left: auto;
    color: $lightRed;
    font-weight: normal;
    font-size: 28px;
  }

}
